.faqWrapper {
  @apply flex gap-[90px];
}

.question svg {
  transition: 0.5s;
}

.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.answercont.active {
  @apply mt-7;
}

@media (max-width: env(--phone-middle)) {
  .faqWrapper {
    @apply flex-col gap-11;
  }
}
