.foourOfour {
  @apply w-[689px] h-auto object-cover mb-[72px];
}

.contentWrapper {
  @apply flex flex-col items-center;
}

.errorHeader {
  @apply text-section-headline font-semibold text-center;
}

.errorDesc {
  @apply text-base text-center;
}

.footerWrapper,
.headerWrapper {
  width: 100%;
}

.socials {
  display: none;
}

@media (max-width: 600px) {
  .foourOfour {
    @apply w-[300px] mb-[10px];
  }

  .errorHeader {
    @apply text-card-headline;
  }

  .errorDesc {
    @apply text-body;
  }

  .headerWrapper,
  .footerWrapper {
    display: none;
  }

  .contentWrapper {
    @apply mt-[55px];
  }

  .socials {
    display: block;
    margin-top: 11px;
  }
}
