.headlineWrapper {
  @apply flex items-start gap-4 mb-11 justify-between;
}

.financeBlockWrapper {
  display: grid;
  grid-template-columns: 662px 1fr;
  column-gap: 44px;
}

.imageContainer {
  position: relative;
  height: 498px;
  width: auto;
  overflow: hidden;
}
.financeBlockImageWrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 32px;
  @apply border border-gray-200 shadow-card;

  opacity: 0;
  z-index: -1;
  transform: translateY(30px);

  transition: all 200ms ease-in-out;
}

.financeBlockImageWrapper.active {
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 200ms;
}

.financeBlockImageWrapper > img {
  width: 100%;
  height: 100%;
  object-position: top;
}

.headlineBtnMobile {
  display: none;
}

.snakeWrapper {
  animation: fadeIn 400ms ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    z-index: -1;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .financeBlockWrapper {
    display: flex;
    flex-direction: column;
    gap: 44px;
  }

  .imageContainer {
    height: auto;
    aspect-ratio: 4 / 3;
  }
  .headlineBtn {
    display: none;
  }

  .headlineBtnMobile {
    display: block;
    align-self: center;
  }

  .headlineWrapper {
    @apply flex flex-col;
  }
}
