.headlineWrapper {
  @apply flex items-start gap-4 mb-11 justify-between;
}

.financeBlockWrapper {
  display: grid;
  grid-template-columns: 662px 1fr;
  column-gap: 44px;
}

.financeBlockImageWrapper {
  height: 498px;
  width: auto;
  overflow: hidden;
  border-radius: 32px;
  @apply border border-gray-200 shadow-card;
}

.financeBlockImageWrapper > img {
  width: 100%;
  object-position: top;
}

.headlineBtnMobile {
  display: none;
}

@media (max-width: 600px) {
  .financeBlockWrapper {
    display: flex;
    flex-direction: column;
    gap: 44px;
  }

  .financeBlockImageWrapper {
    height: auto;
  }
  .headlineBtn {
    display: none;
  }

  .headlineBtnMobile {
    display: block;
    align-self: center;
  }

  .headlineWrapper {
    @apply flex flex-col;
  }
}
