.progressBar {
  position: relative;
  height: 8px;
  border-radius: 8px;
}

.progressBar::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 8px;
  @apply bg-green-main opacity-50;
  z-index: 0;
}

.progressAnimation::after {
  content: '';
  position: absolute;
  border-radius: 8px;
  width: 0%;
  height: 100%;
  inset: 0;
  @apply bg-green-main;
  z-index: 1;

  animation: progress 7s linear forwards;
}

@keyframes progress {
  from {
    width: 0%;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 0.5;
  }
}
