.headerWrapper {
  position: relative;
  @apply px-11 flex items-center justify-between h-[60px] max-w-[2304px] bg-background mx-auto;
}

.headerInnerWrapper {
  @apply flex items-center justify-between h-[60px] w-full bg-background mx-auto;
}

.linksBlock {
  @apply flex gap-x-9 items-center h-full;
}

/* hamburger additional styles */
.hamburger {
  display: none;
}

.popupWrapper {
  display: none;
}

@media (max-width: 600px) {
  .hamburger {
    display: block;
  }
  .headerWrapper {
    @apply px-4;
  }

  .headerInnerWrapper {
    @apply px-0;
  }

  .linksBlock {
    display: none;
  }

  /* mobile modal */

  .popupWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transform: translateX(100%);

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* mobile header height */
    height: calc(100vh - 60px);

    z-index: 100;

    @apply bg-sand-50;

    padding-top: 16px;

    transition: all 250ms ease-in-out;
  }

  .popupWrapper.active {
    opacity: 1;
    transform: translateX(0);
  }
}
